#texto-principal {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

#texto-principal h1 {
    text-align: center;
}

body {
    background-image: url(numbers1.jpg);
    background-size: 100%;
}